body {
  background-color: whitesmoke;
  color: black;
  margin: 0;
  padding: 0;
}
.font {
  font-size: 30px;
}
.size {
  font-size: 25px;
}
.load {
  width: 60px;
  height: 60px;
}
.loadbox {
  width: 5%;
  margin: 300px auto;
}

.cardbox {
  margin-top: 80px;
  width: 350px;
  height: 370px;
  color: black;
  overflow-y: scroll;
  margin-right: 30px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 8px;
  border-radius: 15px;
}
.cardbox::-webkit-scrollbar {
  display: none;
}
.image {
  width: 90%;
  margin: 0 auto;
  height: 130px;
  margin-bottom: 20px;
  padding: 9px;
}
.cardtitle {
  font-size: 20px;
  font-style: italic;
}
.textcard {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cardcontainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.buybtn {
  width: 100%;
  text-align: center;
}
.btnorder {
  width: 60px;
  margin: 0px 5px;
  padding: 5px;
  font-size: 20px;
}

td {
  color: black;
  text-align: center;
  padding: 15px 20px;
  font-size: 20px;
}
th {
  color: whitesmoke;
  text-align: center;
  padding: 15px 20px;
  font-size: 20px;
}
th {
  font-size: 25px;
}
thead {
  background-color: black;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
table {
  background-color: white;
  border-radius: 15px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.total {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
.price {
  font-weight: bolder;
  font-size: 25px;
  font-style: italic;
}
.buttong {
  width: 20%;
}
.inputcontainer {
  padding: 30px;
  margin-top: 60px;

  box-shadow: -5px 8px 40px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -5px 8px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 8px 40px -12px rgba(0, 0, 0, 0.75);
}
.icons {
  border-radius: 80px;
  width: 40%;
  height: 150px;
}
.shoptitle {
  font-style: italic;
  margin-top: 30px;
  margin-left: 20px;
  background: -webkit-linear-gradient(#406bb2, #924bed, #1a374d, #e8aa42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titlenav {
  font-style: italic;
  background: -webkit-linear-gradient(#924bed, #924bed, #adcbd7, #e8aa42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navcontainer {
  background-color: #256d85;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search {
  padding: 8px;
  border: none;

  border-radius: 5px;
  outline-style: none;
  padding-left: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.navitems {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boxno {
  font-size: 23px;
  margin-left: 4px;
}
.buyicons {
  font-size: 35px;
}
.bgcolor {
  background-color: #1a374d;
}
.toast {
  background-color: #1a374d;
}
.shoppingitemsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 520px;
  margin-bottom: 100px;
}
.itemscontainer {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  max-width: 400px;

  opacity: 0.9;
  border-radius: 8px;
}
.shopimg {
  width: 160px;
  height: 130px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: all 0.3s ease-in-out;
}
.shopimg:hover {
  transform: scale(1.1);
}
.shopimgbox {
  max-width: 380px;
}
.imgsbox {
  padding-right: 8px;
  padding-bottom: 5px;
}
.shopbox {
}
.itemscontainer {
  background-color: white;
}

.titeimg {
  width: 350px;
  height: 350px;
}
.link {
  display: block;
  text-decoration: none;
}
.titeshop {
  padding: 25px;
  max-width: 400px;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.sign {
  height: 250px;
  background-color: white;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  padding: 20px;
  margin-top: 80px;
}
.signbtn {
  width: 320px;
  background-color: lightseagreen;
  border-radius: 8px;
  padding: 7px;
  border: none;
}
.signbtn:hover {
  opacity: 0.8;
}
.top {
  background-color: #232f3e;
  color: whitesmoke;
  padding: 15px;
  opacity: 0.8;
}
.top:hover {
  opacity: 0.9;
}
.topbtn {
  display: flex;
  justify-content: center;
}
.footer {
  color: white;
  background-color: #232f3e;
  padding-bottom: 50px;
}

.last {
  background-color: #131a22;
  height: 180px;
  color: white;
}
.textbe {
  font-style: italic;
  padding-top: 20px;
  background: -webkit-linear-gradient(#406bb2, #924bed, #1a374d, #e8aa42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bookstore {
  padding: 20px;
  margin-top: 280px;
  width: 95%;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.bookimg {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 30px;
  transition: all 0.4 ease-in-out;
}
.bookimg:hover {
  transform: scale(1.1);
}
.bookimgcontainer {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.backbtn {
  margin-top: 100px;
  margin-left: 50px;
  width: 120px;
  padding: 6px;
}
.shopping {
  width: 100%;
  height: 450px;
}
.underline {
  text-decoration: line-through;
  color: darkgrey;
}
.shirt {
  width: 200px;
  height: 200px;
}
.text {
  color: #f36e2d;
}
.shirtcontainer {
  display: flex;
  flex-wrap: wrap;
}
.cardshirt {
  padding: 40px;
  margin-top: 5px;
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.inputbox {
  width: 100%;
  background-color: white;
}
.searchbar {
  position: absolute;
  z-index: 3;
  top: 18px;
  left: 260px;
}
.frdata {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
}
.imgdata {
  height: 40px;
  width: 15%;
}
.frdata:hover {
  background-color: blue;
  color: white;
}
